* {
  box-sizing: border-box;
}
:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #ffffff;

  --font-family-primary: "Open Sans", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
}

body {
}

.container {
  width: 1352px;
  /* border: 1px solid red; */
}
.header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.site-title {
  font-size: 32px;
  line-height: 37px;
  color: var(--color-primary);
  font-family: var(--font-family-secondary);
  font-weight: 300;
  margin: 16px 0 17px 0;
}
.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-list li:nth-child(n + 2) {
  margin-left: 65px;
}
.nav-list li {
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-list li a {
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-grey);
  text-decoration: none;
  font-family: var(--font-family-primary);
}
.nav-list li:first-child a {
  color: var(--color-black);
  border-bottom: 4px solid var(--color-primary);
}
